node_modules
dist
.env
.idea
coverage
.nyc_output
.DS_Store
sendgrid.env
app/do-not-run/crm.js

.history/*
.protected/aws_secrets_to_dotenv.sh
.git-rewrite
.env*
.env.*
production-dump.sql
.claude
.claude/*
.next
.next/*